<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{customerForm.html}">
<head>
<title>ĐỔI MẬT KHẨU</title>
</head>

<body>
    <section layout:fragment="body">
        <main class="main__content_wrapper">
    
            <!-- Start breadcrumb section -->
            <section class="breadcrumb__section breadcrumb__bg">
                <div class="container">
                    <div class="row row-cols-1">
                        <div class="col">
                            <div class="breadcrumb__content text-center">
                                <ul class="breadcrumb__content--menu d-flex justify-content-center">
                                    <li class="breadcrumb__content--menu__items"><a th:href="@{/tfive/}">Trang chủ</a></li>
                                    <li class="breadcrumb__content--menu__items"><span>Đổi mật khẩu</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End breadcrumb section -->
            
            <!-- my account section start -->
            <section class="my__account--section section--padding">
                <div class="container">
                    <div class="my__account--section__inner border-radius-10 d-flex">
                        <div class="account__left--sidebar">
                            <h2 class="account__content--title mb-20">Tài khoản của tôi</h2>
                            <ul class="account__menu">
                                <li class="account__menu--list "><a th:href="@{/tfive/profile}">Thông tin cá nhân</a></li>
                                <li class="account__menu--list "><a th:href="@{/tfive/my-order}">Đơn hàng</a></li>
                            <li class="account__menu--list"><a th:href="@{/tfive/wishlist}">Yêu thích</a></li>
                            <li class="account__menu--list active"><a th:href="@{/tfive/account/change-password/}">Đổi mật khẩu</a></li>
                                <li class="account__menu--list"><a th:href="@{/tfive/account/logout}">Đăng xuất</a></li>
                            </ul>
                        </div>
                        <div class="account__wrapper">
                            <div class="account__content">
                                <h2 class="account__content--title h3 mb-20">Đổi mật khẩu</h2>
                                <div class="account__login changePass">
                                        <div class="account__login--inner">
                                        <form  th:action="@{/tfive/account/change-password/pChangePassword}" method="post" th:object=${account}>
                                            <label>
                                                <input class="account__login--input" placeholder="Username" id="username" th:field="*{username}" name="username" readonly>
                                            </label>
                                            <label>
                                                <input class="account__login--input" placeholder="Mật khẩu cũ"  type="password" id="password" name="password" required>
                                            </label>
                                            <label>
                                                <input class="account__login--input" placeholder="Mật khẩu mới"  type="password" id="password" name="newPassword" required>
                                            </label>
                                            <label>
                                                <input class="account__login--input" placeholder="Nhập lại mật khẩu" type="password" id="password" name="confirmPassword" required>
                                            </label>
                                            
                                            <button class="account__login--btn primary__btn mb-10" type="submit">Xác nhận </button>
                                            </form>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- my account section end -->
    
    
        </main>
    </section>

</body>
</html>