<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{customerForm.html}">
<head>
<title>ĐĂNG KÍ TÀI XẾ</title>
</head>

<body>
    <section layout:fragment="body">
        <main class="main__content_wrapper">
            <div class="container" >
                <div class="row c--box" >
                    <div class="box-form col-md-5 col-12">
                        <form th:action="@{/tfive/account/driverRegister/saveOrUpdate}" method="post"  enctype="multipart/form-data" th:object="${driver}">
                            <div class="box-register">
                            <h3>Điền thông tin để đăng kí Tài xế</h3>
                            <hr>
								<div th:if="${mess}" th:text="${mess}" class="alert alert-success"
									role="alert"></div>
									<div th:if="${messfail}" th:text="${messfail}" class="alert alert-danger"
									role="alert"></div>
								<input name="name" id="name" type="text" placeholder="Họ và tên" required>
                             <input name="phoneNumber" type="text" placeholder="Số điện thoại" maxlength="10" required>
                             <input name="email" type="email" placeholder="Email" required>
                             <input maxlength="12" name="identificationCard" type="text" placeholder="Số CMND / CCCD" required>
                                <div>
                                    <script>
                                        function chooseFile(fileInput) {
                                            if (fileInput.files
                                                && fileInput.files[0]) {
                                                var reader = new FileReader();
                                                reader.onload = function (e) {
                                                    $('#image').attr(
                                                        'src',
                                                        e.target.result);
                                                }

                                                reader
                                                    .readAsDataURL(fileInput.files[0])
                                            }
                                        }
                                    </script>

                                    <div class="box-img">


                                        <img id="image" th:src="${'/assets/img/product/main-product/product1.webp'}" width="80%" height="80%" alt="">

                                        <input type="file" onchange="chooseFile(this)" name="imageFile"
                                               id="img" placeholder="productImage">

                                    </div>



                                </div>
                                <hr>
                             <button class="btn-register">Đăng kí</button>
                         </div>
                     </form>
                    </div>
                    <div class="box-intro col-md-7">
                        <h2>Trở thành đối tác và đồng hành cùng chúng tôi</h2>
                        <label for="name" class="c-btn-register"><i class="ti-arrow-circle-left"></i> ĐĂNG KÍ NGAY</label>
                        
                    </div>
                </div>
    
            </div>
        </main>
        
    </section>

</body>
</html>