<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{customerForm.html}">
<head>
<title>QUÊN MẬT KHẨU</title>
</head>


<body>
<section layout:fragment="body">

<main class="main__content_wrapper">
            
            <!-- Start breadcrumb section -->
            <section class="breadcrumb__section breadcrumb__bg">
                <div class="container">
                    <div class="row row-cols-1">
                        <div class="col">
                            <div class="breadcrumb__content text-center">
                                <ul class="breadcrumb__content--menu d-flex justify-content-center">
                                    <li class="breadcrumb__content--menu__items"><a th:href="@{/tfive/}">Trang chủ</a></li>
                                    <li class="breadcrumb__content--menu__items"><span>Quên mật khẩu</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End breadcrumb section -->
    
            <!-- Start login section  -->
            <div class="login__section section--padding">
                <div class="container">
                        <div class="login__section--inner card-container">
                            <div class="row row-cols-md-2 row-cols-1 card-account" style="height: auto">
                                <div class="col">
                                    <div class="account__login">
                                        <div class="account__login--header mb-25">
                                            <h2 class="account__login--header__title mb-10">Quên mật khẩu</h2>
                                        </div>
                                        <div class="account__login--inner">
                                         <!-- Message -->
										<div th:if="${messL}" th:text="${messL}" class="alert alert-primary" role="alert"></div>
                                        <form th:action="@{/tfive/account/pForgotPass}" method="post" th:object=${customer}>
                                            <label>
                                                <input name="email" required
                                                 class="account__login--input" placeholder="Nhập email bạn đã đăng kí tài khoản trước đó" type="email">
                                            </label>
                                            <button class="account__login--btn primary__btn" type="submit">Xác nhận & Gửi yêu cầu <i class="fa-solid fa-arrow-right"></i></button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>     
            </div>
            <!-- End login section  -->
    
        </main>
</section>
</body>
</html>