<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{restaurantForm.html}">
<head>
<title>QUẢN LÝ KHÁCH HÀNG</title>
<link rel="stylesheet" href="/assets/css/common.css">
</head>

<body>
    <section layout:fragment="body">
        <nav class="nav-search w-100">
             <form th:action="@{/tfive/admin/customer/search}" method="post">
                <div class="box-search">
                    <input class="input-search" name="name" type="text" placeholder="Tìm kiếm.....">
                    <button class="btn-search" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                </div>
            </form>
        </nav>
    
        <main class="mt-74">
            <div class="container box-main">
                <div class="" id="list-customer">
                    <table class="table tbl-cart">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">ID Khách</th>
                                <th scope="col">Họ và tên</th>
                                <th scope="col">Giới tính</th>
                                <th scope="col">Số điện thoại</th>
                                <th scope="col">Email</th>
                                <th scope="col">Thao tác</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="item : ${customers}" >
                                <td scope="row" th:text="${item.customerID}"></td>
                                <td scope="row" th:text="${item.name}"></td>
                                <td th:text="${item.sex == true ? 'Nam' : 'Nữ'}"></td>
                                <td th:text="${item.phoneNumber}"></td>
                                <td th:text="${item.email}"></td>
                                <td><a class="edit" th:href="@{'/tfive/admin/customer/edit/' + ${item.customerID}}">Edit</a>
                                    | <a th:href="@{'/tfive/admin/customer/delete/' + ${item.customerID}}">Delete</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
    
        </main>
    </section>

</body>

</html>