<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{restaurantForm.html}">
<head>
	<title>QUẢN LÝ ĐƠN HÀNG</title>
    <link rel="stylesheet" href="/assets/css/common.css">
    <link rel="stylesheet" href="/assets/css/restaurant/order.css">
</head>
<body>
    <section layout:fragment="body">
        <main>
            <div class="body">
                <div class="box-btn-control">
                    <button class="btn-reload"><i class="ti-reload"></i></button>
                    <button class="btn-filter"><i class="ti-filter"></i></button>
                </div>
    
                <div class="tabs">
                    <ul class="t-nav nav nav-tabs w-100" id="myTab" role="tablist">
                        <li class="t-nav-item nav-item w-25">
                            <a class="nav-link " data-toggle="tab" href="#order-reserve" role="tab"
                                aria-controls="order-reserve" aria-selected="true">Đặt trước</a>
                        </li>
                        <li class="t-nav-item nav-item w-25">
                            <a class="nav-link active" data-toggle="tab" href="#order-new" role="tab"
                                aria-controls="order-new" aria-selected="false">Đơn mới</a>
                        </li>
                        <li class="t-nav-item nav-item w-25">
                            <a class="nav-link" data-toggle="tab" href="#order-received" role="tab"
                                aria-controls="order-received" aria-selected="false">Đã nhận</a>
                        </li>
                        <li class="t-nav-item nav-item w-25">
                            <a class="nav-link" data-toggle="tab" href="#order-history" role="tab"
                                aria-controls="order-history" aria-selected="false">Lịch sử</a>
                        </li>
                    </ul>
                    <div class="tab-content box-ctn-order" id="myTabContent">
                        <div class="order-list tab-pane fade show" id="order-reserve" role="tabpanel">
                            <div class="box-order-reserve c-box-order">
                                <div class="order-head row">
                                    <div class="ctn-l col-6">
                                        <p class="order-id">Mã đơn hàng</p>
                                    </div>
                                </div>
                                <div class="order-body">
                                    <div class="ctn-b">
                                        <p>Số lượng món: <span class="total-quantity" ></span></p>
                                        <i class="fa-solid fa-circle dot-icon" style="color: green;"></i><label
                                            class="deliver bland">Tổng tiền: <span
                                                class="customer-name" >20.000đ</span></label>
                                         <div class="clear"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="order-list tab-pane fade show active" id="order-new" role="tabpanel">
                            <div class="box-order-new c-box-order" th:if="*{order.status=='Đã đặt'}" th:each="order : ${listOrder}">
                        <a th:href="@{'/tfive/admin/order/detail/'+*{order.orderID}}">
                                <div class="order-head row">
                                    <div class="ctn-l col-6">
                                        <p class="order-id" th:text="${order.orderID}">Mã đơn hàng</p>
                                    </div>
                                </div>
                                <div class="order-body">
                                    <div class="ctn-b">
                                        <p>Số lượng món: <span class="total-quantity" th:text="*{order.totalQuantity}"></span></p>
                                        <i class="fa-solid fa-circle dot-icon" style="color: green;"></i><label
                                            class="deliver bland">Tổng tiền: <span
                                                class="customer-name" th:text="*{#numbers.formatDecimal(order.totalPrice, 0, 'COMMA', 0, 'POINT')} + 'đ'">20.000đ</span></label>
                                         <div class="clear"></div>
                                    </div>
                                </div>
                            </a>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="order-received" role="tabpanel">
                            <div th:if="*{order.status=='Xác nhận'}" class="box-order-received c-box-order" th:each="order : ${listOrder}">
                        <a th:href="@{'/tfive/admin/order/detail/'+*{order.orderID}}">
                                <div class="order-head row">
                                    <div class="ctn-l col-6">
                                        <p class="order-id" th:text="${order.orderID}">Mã đơn hàng</p>
                                    </div>
                                </div>
                                <div class="order-body">
                                    <div class="ctn-b">
                                        <p>Số lượng món: <span class="total-quantity"  th:text="*{order.totalQuantity}"></span></p>
                                        <i class="fa-solid fa-circle dot-icon" style="color: green;"></i><label
                                            class="deliver bland">Tổng tiền: <span
                                                class="customer-name" th:text="*{#numbers.formatDecimal(order.totalPrice, 0, 'COMMA', 0, 'POINT')} + 'đ'">20.000đ</span></label>
                                         <div class="clear"></div>
                                    </div>
                                </div>
                            </a>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="order-history" role="tabpanel">
                            <div class="box-order-history c-box-order" th:each="order : ${listOrder}">
                            <a th:if="*{order.status!='Xác nhận' and order.status!='Đã đặt'}"
                             th:href="@{'/tfive/admin/order/detail/'+*{order.orderID}}" style="color: black">
                                <div class="order-head row">
                                    <div class="ctn-l col-6">
                                        <p th:if="*{order.status=='Đã huỷ'}" style="color: red" class="order-id" th:text="${order.orderID}">Mã đơn hàng</p>
                                        <p th:if="*{order.status!='Đã huỷ'}" style="color: green" class="order-id" th:text="${order.orderID}">Mã đơn hàng</p>
                                    </div>
                                </div>
                                <div class="order-body">
                                    <div class="ctn-b">
                                            <div class="row box-some-order-info" style="margin: 0 20px">
                                                <p class="col-6" style="text-align: left;"><i class="fa-solid fa-utensils"></i> <span class="total-quantity" th:text="*{order.totalQuantity}"></span> món</p>
                                                <p class="col-6" style="text-align: right;"><i class="fa-solid fa-file-invoice-dollar"></i> <span class="total-quantity" th:text="*{#numbers.formatDecimal(order.totalPrice, 0, 'COMMA', 0, 'POINT')} + 'đ'">50.000đ</span></p>
                                            </div>
                                        </div>
                                </div>
                                </a>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        
    </section>

</body>

</html>